/* components/GroupsBlock/GroupsBlock.module.css */
.list {
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.list__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    height: 36px;
}
.list__header__text{
   font-size: 24px;
   font-weight: bold;
    margin: auto 0;
}

.list__content{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    flex: 1;
    list-style-type: none;
    margin-bottom: 0;
}

.groupList {
    list-style-type: none;
    padding: 0;
}

.groupItem {
    cursor: pointer;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.groupItem:hover {
    background-color: #34495e;
}

.selected {
    background-color: #2ecc71;
    color: white;
}

.filteredNodes {
    margin-top: 15px;
}

.nodeItem {
    margin-top: 10px;
    font-size: 14px;
    color: white;
}

.heading{
    display: flex;
    align-items: center;
}